@import "scheme.less";

//* {
//  box-sizing: border-box;
//}


html, body {
  margin: 0;
  padding-top: 50px;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.centered-inline-block {
  display: inline-block;
  table {
    margin: 0 auto;
  }
}

#game {
  padding: 20px 0;
}

#player, #opponent {
  border: @border-properties;
  border-spacing: 0;
  td {
    &:first-child {
      border-left: 0px solid;
    }
    padding: 10px;
    border-left: @border-properties;
  }
}