doctype html
html(ng-app='snowshoe', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content="IE-edge")
    script(src='src/snowshoe.js')
    if local
      script(src='//localhost:13337/livereload.js')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    table
      tr
        td
        td
        td
        td
        td
        td
